@for (int i = 0; i < 3; i++)
{
    <li class="nav-item"><a class="nav-link">Kategori @i</a></li>
}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Diğer
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @for (int i = 3; i < 6; i++)
        {
            <li><a class="dropdown-item">Kategori @i</a></li>
        }
    </ul>
</li>