<!DOCTYPE html >
<html>
    <head>
        <title>Empty</title>
        <link rel="stylesheet" href="~/bootstrap/css/bootsrap.min.css"/>
        </head>
    <body>
        <div class="menu">MENÜ</div>

        @RenderBody()

        <div class ="footer">footer</div>


        <script src="~/bootsrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>