<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login Template</title>
        </head>
    <body style="background-color:red;color:white; font-family:'Segoe UI';height:100vh;">
        <div style="display:flex;flex-direction:column;height:100%;align-items:center;justify-content:space-between;"</body>
            <div>Login Menu</div>
            @RenderBody()

            <div>Login Footer</div>

            </div>
</html>  