<h1 class="display-6 text-primary mb-5 text-center">Ürünler</h1>

<div class="row g-4">
    @foreach (Product product in ViewBag.Products)
    {
        <div class="col-md-2">
            <div class="card">
                <img src="~/images/@product.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <a href="/product/details/@product.Id" class="btn btn-primary">Detay</a>
                </div>
            </div>
        </div>
    }
</div>