@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color-1: #091057;
    --bg-color-2: #024CAA;
    --bg-color-3: #EC8305;
    --text-color: #DBD3D3;
    --text-white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color);
}

.page-container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: var(--bg-color-1);
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}


a {
    text-decoration: none;
}

.navbar-brand {
    color: var(--text-color);
    font-size: 2rem;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links a {
    color: var(--text-white);
    transition: all .3s;
}

.navbar-links a:hover {
    color: var(--bg-color-3);
}

.hero {
    background-color: var(--bg-color-2);
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    color: var(--text-white);
}

.hero-content h3 {
    font-size: 1.5rem;
    color: var(--text-color);
}

.button {
    background-color: var(--bg-color-3);
    color: var(--text-white);
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    transition: all .3s;
}

.button:hover {
    background-color: var(--text-white);
    color: var(--bg-color-3);
    border: 2px solid var(--bg-color-3);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    height: 70px;
    background-color: var(--bg-color-1);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer span {
    color: var(--text-white);
}

.about {
    background-color: var(--bg-color-2);
    height: calc(100vh - 160px);
}

.about-content {

    padding: 1rem;
}

.about h2 {
    font-size: 2rem;
    color: var(--bg-color-3);
}

.about h3 {
    margin-top: 1.2rem;
    margin-bottom: .5rem;
    color: var(--bg-color-3);
}

.about ul {
    list-style-type: none;
}

.portfolio {
    background-color: var(--bg-color-2);
}

.portfolio-title {
    color: var(--bg-color-3);
    text-align: center;
    padding: 2rem;
    font-size: 2.4rem;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 .8rem 5rem .8rem;
    gap: .8rem;
}



.project-card {
    flex-basis: calc(25% - 10px);
    text-align: center;
    /* padding: 1rem; */
    border-radius: 20px;
    /* border: 1px solid rgba(255,255,255,1); */
    box-shadow: 2px 3px 5px rgba(255, 255, 255, .5);
    padding-bottom: 1rem;
    background-color: var(--text-color);
    color: var(--bg-color-2);
}

.project-card img {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.project-card h3 {}


.project-card p {
    padding: 1rem;
    font-size: .8rem;
}

.contact {
    padding: 2rem;
    background-color: var(--bg-color-2);
    height: calc(100vh - 160px);
    display: flex;
    align-items: center;
}

.contact-content {
    display: flex;
    gap: 20px;
}

.right-contact-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem;
}

.right-contact-content label {
    display: block;
    font-weight: 700;
    color: var(--text-white);
}

.right-contact-content input,
.right-contact-content textarea {
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    outline: none;
    padding: .5rem;
    margin-bottom: .6rem;
}

.right-contact-content textarea {
    margin-bottom: 0;
}

.right-contact-content h3 {
    color: var(--text-white);
}

.right-contact-content p {
    margin-bottom: 1rem;
}