@model List<InvitationViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var i in Model)
    {
        <div>
            <a asp-controller="Home" asp-action="Join" asp-route-id="@i.Id" class="btn btn-link">@i.EventName (@i.EventDate)</a>
        </div>
    }
</div>
