<div class="list-group shadow-sm">
    <div class="list-group-item bg-secondary text-white text-center font-weight-bold mb-3">
        <i class="fas fa-user"></i> Hesap Menüsü
    </div>
    <a href="#" class="list-group-item list-group-item-action active">
        <i class="fas fa-info-circle"></i> Bilgiler
    </a>
    <a href="#" class="list-group-item list-group-item-action" )">
        <i class="fas fa-box"></i> Devam Eden Siparişler
    </a>
    <a href="#" class="list-group-item list-group-item-action" )">
        <i class="fas fa-history"></i> Geçmiş Siparişler
    </a>
</div>