@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family:Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.menu{
    background-color: #111;
    color: #fff;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    text-decoration: none;
    color:#808080;
    /* padding: 10px 20px; */
    font-size: 18px;
}

.menu a:hover{
    color:#f0f0f0;
}

.hamburger{
    font-size: 20px;
    cursor:pointer;
    display: none;
    
}
.close-btn{
position: absolute;
top: 20px;
right: 20px;
color: #fff;

font-size: 36px;

}


.menu-links{
    display: flex;
    gap: 10px;

}

@media (max-width:768px){
    .menu-links{
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
     width: 0;
        background-color: #580000;
        /* transition: width .3s; */
        padding-top:60px ;
       overflow: hidden;
        
    }
}

.menu-links a{
    font-size: 20px;
    padding: 10px 40px;
}

.hamburger{
display: block;

}


@media (min-width:768px){
    .close-btn{

    }
}