@model Student
<form asp-controller="Home" asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for=FirstName></label>
        <input asp-for=FirstName />
        <span class="text-danger" asp-validation-for=FirstName></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=LastName></label>
        <input asp-for=LastName />
        <span class="text-danger" asp-validation-for=LastName></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=Email></label>
        <input asp-for=Email />
        <span class="text-danger" asp-validation-for=Email></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=Age></label>
        <input asp-for=Age />
        <span class="text-danger" asp-validation-for=Age></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=Password></label>
        <input asp-for=Password />
        <span class="text-danger" asp-validation-for=Password></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=RePassword></label>
        <input asp-for=RePassword />
        <span class="text-danger" asp-validation-for=RePassword></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=ApplyDate></label>
        <input asp-for=ApplyDate />
        <span class="text-danger" asp-validation-for=ApplyDate></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</form>