@model List<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Öğrenci Listesi</h1>
    <ul >
        @foreach (var student in Model)
        {
            <li>@student.FirstName @student.LastName</li>
        }
    </ul>
</div>
