html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
}
div{
    font-size:20px;
}


p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    /*font-size: 30px;*/
   /*font-size:inherit;*/
   
}

h1{
    font-size:inherit ;
    color:orangered;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgbablack(0,0,0,5);

}

.text-sample{
    font-size: 1.6rem;
    line-height: 2rem;
    text-indent: 3rem;
}