@section Styles {
    <style>
        #home-container {
            height: 80vh;
        }
    </style>
}


<div id="home-container" class="d-flex flex-column align-items-center justify-content-center gap-4">
    <h1 class="display-3 text-primary">Hoşgeldiniz!</h1>
    <p class="text-center w-50">Bugün günlerden Salı. Milli takımın Karadağ maçı var. Bizi ilgilendirmiyor. Biz ders çalışacağız. Di mi arkadaşlar? Ama elbetteki gönlümüz, milli takımdan yana!</p>
    <a href="#" class="btn btn-outline-success btn-lg">Bilgi Al</a>
</div>



