<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Adres</h5>
                <p>1234 Sokak, Şehir, Ülke</p>
            </div>
            <div class="col-md-4">
                <h5>İletişim</h5>
                <p>Email: info@eticaret.com</p>
                <p>Telefon: +90 123 456 78 90</p>
            </div>
            <div class="col-md-4">
                <h5>Sosyal Medya</h5>
                <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>